@use './variables.scss' as *;

.weather__cities {
    &__city {
        width: 100%;
        height: 5rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: bold;
        align-items: center;
        padding: 1rem;
        gap: 2rem;
        color: $light-green;
        background: #9424f01e;
        border-bottom: solid 2px $light-green;
        cursor: pointer;
        justify-content: space-between;

        &__information {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            &__icon {
                width: 5rem;
            }
        }
    }

    &__city:hover {
        background: #8c00ff3f;
    }

    &__city:first-child {
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
    }
}