@use './variables.scss' as *;

.weather-data {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;

    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        &__block {
            width: 13rem;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 13rem;
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border-radius: 20px;
            border:1px solid rgba(255, 255, 255, 0.18);
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
            border: solid 5px $light-green;

            &__image {
                width: 90%;
            }

            &__temp {
                font-size: 5rem;
                color: $light-green;
            }

            
        }
    }


    &__city-name {
        text-align: center; 
        width: 100%;
        color: $light-green;
        font-size: 3rem;
        padding: 2rem;
        
    }

    &__description {
        text-align: center; 
        width: 100%;
        color: $light-green;
        font-size: 2rem;
        font-weight: bold;
        font-style: italic;
    }

    .like-button {
        background: none;
        border: none;
        position: absolute;
        top: 1.5rem;
        left: 0rem;
        font-size: 4rem;
        color: $light-green;

        &__icon {
            cursor: pointer;
            transition: all 0.1s ease;
        }

        &__icon:hover {
            color: $aquamarine;
        }
    }
}
